@font-face {
  font-family: "iconfont"; /* Project id 3516083 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shizhong:before {
  content: "\e62c";
}

.icon-chongzhi:before {
  content: "\e618";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-loufang:before {
  content: "\e64f";
}

.icon-anniu-jiantouxiangyou_o:before {
  content: "\eb8c";
}

.icon-SIMka:before {
  content: "\e637";
}

.icon-shouhou:before {
  content: "\e623";
}

.icon-liwu:before {
  content: "\e603";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-31dingwei:before {
  content: "\e604";
}

.icon-xiangyou2:before {
  content: "\e776";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-liaotian:before {
  content: "\e63e";
}

.icon-fanhuidingbu:before {
  content: "\e65b";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-shouji:before {
  content: "\e6c7";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-icon03:before {
  content: "\e602";
}

.icon-editor2:before {
  content: "\e62e";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-kefu:before {
  content: "\ec2e";
}

